[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=upnproutermonitor
Icon=upnproutermonitor
Name=Feedindicator
Comment=RSS feed updates in the indicator area
Categories=Internet;Network;

